{% extends 'base.html.twig' %}

{% block title %}Films index{% endblock %}

{% block body %}
    <h1>Films index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for film in films %}
            <tr>
                <td>{{ film.id }}</td>
                <td>{{ film.title }}</td>
                <td>
                    <a href="{{ path('film_controller_class_show', {'id': film.id}) }}">Montrer</a>
                    <a href="{{ path('film_controller_class_edit', {'id': film.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('film_controller_class_new') }}">Ajouter</a>
{% endblock %}
